

  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }