

  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding-left: 12px;
    padding-right: 12px;


  }
  
  .column img {
    vertical-align: left;
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  row:after {
    content: "";
    display: table;
    clear: both;
  }
  