
/* Edits the size and position of the container the image is in*/
.container {
  position: relative;
  width: 95%;
}

/* Defines image properties */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* Controls the overlayed text box position and size*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-25%, -25%);
  /*-ms-transform: translate(-50%, -50%);*/
  text-align: center;
}

/* opacity of images when hovered over */
.container:hover .image {
  opacity: 0.3;
}

/* opacity of 'text box' when hovered over' */
.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: plum;
  color: black;
  font-size: 20px;
  padding: 16px 32px;
}

/* ---------------------------------------------------------------------------*/
/* 'Boxes' images are in */

 /* Create two equal columns that floats next to each other (that's why width is 50%) */
.column2 {
  float: left;
  width: 50%;
}

/* all images in class column2 */
.column2 img {
  margin-top: 12px;
}

 /* Create one columns for images (that's why width is 1000%) */

 .column1 {
  float: left;
  width: 100%;
}

.column1 img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* ---------------------------------------------------------------------------*/
/* from davestyle.css; for general layout */


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(93, 225, 230);
  width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 10px;
}
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: plum;
}
.main-text {
    color: black;
    background-color: white;
    text-align: center;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 100%;
    text-align: center;
}
.nav-bar-blue {
    background-color: rgb(93, 225, 230);
    width: 20%;
    padding: 10px 0;
}
.nav-bar-pink {
    background-color: plum;
    width: 20%;
    padding: 10px 0;
}
.plum-link {
    color: plum;
}
