
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



 /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  /*padding: 5px;*/
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.columntest {
  float: left;
  width: 100%;
  /*padding: 5px;*/
}

.columntest img {
  margin-top: 12px;
}


  /* from davestyle.css; for general layout */



  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(93, 225, 230);
    width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 10px;
    
    

    /* background-image: url(../images/saladanpita.jpg); */
    
    
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: plum;
}

.main-text {
    color: black;
    background-color: white;
    text-align: center;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    width: 100%;
    text-align: center;

}

.nav-bar-blue {
    background-color: rgb(93, 225, 230);
    /* border: 2px solid white; */
    width: 20%;
    padding: 10px 0;
}

.nav-bar-pink {
    background-color: plum;
    /* border: 2px solid white; */
    width: 20%;
    padding: 10px 0;
}

.plum-link {
    color: plum;
}