
 /*universal website header*/
 header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
/*nav bar style*/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100%;
  text-align: center;
  /*this stickies the nav bar to the top of the page*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.nav-bar-blue {
  background-color: rgb(93, 225, 230);
  width: 20%;
  padding: 10px 0;
  
}
.nav-bar-pink {
  background-color: plum;
  width: 20%;
  padding: 10px 0;
  
}
/*page title*/
 h1 {
   color: rgb(11, 11, 75);
   text-align: center;
   font-size: xxx-large;
   font-family: Copperplate, Papyrus, fantasy;

 }
 /*introductory paragraph*/
 p{
     color: rgb(75, 11, 70);
     margin-left: 14%;
     margin-right: 14%;
     font-family: Tahoma, sans-serif;
     text-align: center;

 }
 /* top menu box only*/
 #menubox_1 {
   width: 400px;
   height: 300px;
   color:rgb(48, 7, 58);
   font-family: Garamond, sans-serif;
   margin-left: 5%;
   margin-right: 40%;
   font-size: 25px;
   padding-left: 50px;
   padding-right: 500px;
   padding-top: 40px;
   border: 5px solid rgb(66, 7, 68);
   text-align: justify;
   
   
 } 
 /*main menu download box*/
 #clickbox_1 {
   width: 135px;
   height: 23px;
   padding-left: 0.6cm;
   padding-top: 0.5cm;
   padding-right: 0.5cm;
   padding-bottom: 0.4cm;
   border: 4px solid black;
   font-size: large;
   background-color: rgb(144, 126, 148);
   color: black;
   transition-duration: 0.4s;
   margin-left: 30%;
   visibility:visible;
   margin-top:60px;
   text-align: justify;
 }
 /*changes colour of download box*/
 #clickbox_1:hover {
   background-color: #f1eaea;
   color: rgb(73, 45, 45);
 }
 /*sets the location of canape image*/
 .canape{
  margin-left: 900px;
  margin-right: 50px;
  padding-right: 2cm;
}
/*box style for all that are right slanted*/
 #menubox_2 {
   width: 500px;
   height: 300px;
   color:rgb(48, 7, 58);
   font-family: Garamond, sans-serif;
   margin-left: 10%;
   margin-right: 5%;
   margin-top: 0.5cm;
   font-size: 25px;
   padding-left: 400px;
   padding-right: 50px;
   padding-top: 40px;
   border: 5px solid rgb(66, 7, 68);
   text-align: justify;
 }
 
 /*box style for all that are left slanted*/
 #menubox_3 {
  width: 400px;
  height: 300px;
  color:rgb(48, 7, 58);
  font-family: Garamond, sans-serif;
  margin-left: 5%;
  margin-right: 40%;
  margin-top: 0.5cm;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 500px;
  padding-top: 40px;
  border: 5px solid rgb(66, 7, 68);
  text-align: justify;
  
 }
/*slightly different sized download button*/
#clickbox_2 {
  width: 108px;
  height: 23px;
  padding-left: 0.6cm;
  padding-top: 0.5cm;
  padding-right: 0.5cm;
  padding-bottom: 0.4cm;
  border: 4px solid black;
  font-size: large;
  background-color: rgb(144, 126, 148);
  color: black;
  transition-duration: 0.4s;
  margin-left: 30%;
  visibility:visible;
  margin-top:60px;
  text-align: justify;
}

#clickbox_2:hover {
  background-color: #f1eaea;
  color: rgb(73, 45, 45);
}
/*another different sized download button, for longer words*/
#clickbox_5 {
  width: 150px;
  height: 23px;
  padding-left: 0.6cm;
  padding-top: 0.5cm;
  padding-right: 0.5cm;
  padding-bottom: 0.4cm;
  border: 4px solid black;
  font-size: large;
  background-color: rgb(144, 126, 148);
  color: black;
  transition-duration: 0.4s;
  margin-left: 30%;
  margin-top:60px;
  text-align: justify;
}

#clickbox_5:hover {
  background-color: #e6d6d6;
  color: rgb(194, 56, 56);
}
/*to make entire download button a hyperlink, and not just the text*/
a { 
  display:block;
  width:150px;
  height:23px;
}
/*universal website footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  color: plum;
}